# OS
.DS_Store
Thumbs.db

# Rust
/target/
**/target/

# Node
node_modules/
**/node_modules/
dist/
**/dist/
.next/
**/.next/

# Flutter/Dart
.dart_tool/
**/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
**/build/

# Logs
*.log
